
body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("IHEARTNUWEEK.jpg");

    /* Set a specific height */
    height: 75%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text{
    text-align: center;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    margin-top:70px;
}

h1.namer{
   font-family: Georgia;
   color: white;
   font-size: 48px;
   text-align: center;
}

h1.name{
   color: white;
   font-family: sans-serif;
   font-weight: 500;
   font-size: 72px;
   text-align: center;
   position:center;
}
#borders{
  border: 1px solid;
  border-color: purple;
}
#blue{
  span;
  background-color:azure;
  margin:auto;
  width:80%;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.intro{
  background-color: azure;
}

.introx{
  font-family:Georgia;
  font-size:18px;
  margin-left:10px;
  margin-right:10px;
}

.sect{
  margin:auto;
  width:80%;
  padding: 10px;
  overflow:auto;
}

.introbox{
  font-family:Georgia;
  font-size:18px;
  margin-left:10px;
  margin-right:10px;
}

.mainBlock{
  padding:20px;
}

.sections{
  color: black;
  text-align: center;
  font-weight: bolder;
  font-size: 42px;
}

.descript{
  font-family:Georgia;
  color: turquoise;
  text-align:center;
}

.subs{
  font-family:Georgia;
  color: lightskyblue;
  text-align:center;
}
.items{
  color: deepskyblue;
  text-align: center;
  font-weight: bolder;
}

.frame{
  vertical-align: middle;
}

.box{
  float:left;
  vertical-align: middle;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:40px;
  margin-right:40px;
}

img{
  border-radius:25px;
  border-style:solid;
  margin:5px;
  max-width: 100%;
}

.gallery{
  background-color: azure;
}

.contact{
  text-align: center;
}

.w3-container{
  text-align:center;
  font-family: Georgia;
  background: azure;
}

#hi{
  span;
  padding: 10px;
  background-color: azure;
}
#photos{
  text-align: center;
  vertical-align: center;
  display: block;
}

#map{
  width: 100%;
  height: auto;
  align-items: center;
}
.photo{
  position:relative;
  width:300px;
  height:200px;
  border-radius:25px;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:antiquewhite;
  border-radius: 25px;
}

.photo:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

footer{
  background-color: azure;
}

button{
  padding:10px;
  border-radius: 25px;
}

.button:hover {background-color: #b3ffe6}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

  * {
    box-sizing: border-box;
}

.w3-bar-item w3-button tablink w3-red:hover{background-color: #b3ffe6}
.w3-bar-itm w3-button tablink w3-red:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  * {
    box-sizing: border-box;
}

.w3-bar-item w3-button tablink:hover{background-color: #b3ffe6}
.w3-bar-itm w3-button tablink:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
  }

  @media only screen and (max-width:100px) {
  /* For mobile phones: */
  .mainBlock {
    width:100%;
  }
