body,html{
  height:100%;
  margin:0;
}

.hero-image{
  width:100%;
  background-image:url("IHEARTNUWEEK.JPG");
  height:75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
}

.hero-text{
  text-alight: center;
  top:75%;
  left:50%;
  position:absolute;
  transform: translate(-50%, -50%);
  color: white;
}

h1.namer{
  font-family: Georgia;
  font-style:italic;
  font-weight:300;
  font-size:calc(18px + 3vw);
  text-align:center;
  margin:0px;
}

h1.name{
  font-family:sans-serif;
  font-weight:900;
  font-size:calc(18px + 4vw);
  text-align:center;
  position:center;
  margin-top:5px;
}

.intro{
  background-color:azure;
}
.introx{
  span;
  background-color:azure;
  margin:auto;
  width:70%;
  padding:40px;
  font-family:Georgia;
  font-size:24px;
  font-weight: normal;
}

.mainBlock{
  padding:20px;
}

.sections{
  margin:5px;
  color:black;
  font-family:sans-serif;
  text-align:center;
  font-weight:bolder;
  font-size: calc(24px + 1.5vw);
}

.subs{
  margin:5px;
  color:lightskyblue;
  font-family:Georgia;
  text-align:center;
  font-style:italic;
  font-size: calc(18px + .5vw);
  font-weight:500;
}

.sect{
  margin:auto;
  width:80%;
  padding: 20px;
  overflow:auto;
}

.introbox{
  font-family:Georgia;
  font-size:18px;
  margin-left:10px;
  margin-right:10px;
}

.frame{
  vertical-align: middle;
}

.box{
  float:left;
  vertical-align: middle;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:40px;
  margin-right:40px;
}

.items{
  color:deepskyblue;
  text-align:center;
  font-weight:bolder;
  font-size:calc(18px + .5vw);
  text-decoration: none;
  margin:15px;
}

.descript{
  font-family:Georgia;
  color:turquoise;
  text-align:center;
  font-weight:500;
  margin:5px;
}

#borders{
  border: 1px solid;
  border-color: purple;
}

img{
  border-radius:25px;
  margin:5px;
}

.gallery{
  background-color: azure;
}

.photo{
  position:relative;
  width:300px;
  height:200px;
  border-radius:25px;
}


.contact{
  text-align: center;
}

#map{
  width: 100%;
  height: auto;
  align-items: center;
}

footer{
  background-color: azure;
}

button{
  padding:10px;
  border-radius: 25px;
}

.button:hover {background-color: #b3ffe6}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

  * {
    box-sizing: border-box;
}

/* unvisited link */
a:link {
    color: lightskyblue;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: deepskyblue;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #b3ffe6;
    text-decoration: none;
}

/* selected link */
a:active {
    color: deepskyblue;
    text-decoration: none;
}
